<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Docker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.core.min.js"></script> 
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="app.js"></script>
    <script src = "js/common/loader/loader.js"></script>
    <script src ="js/modal/emailModal/emailModalCtrl.js"></script>
    <script src ="js/modal/emailModal/emailModal.js"></script>
    <script src = "js/common/directives/navbar.js"></script>
    <script src = "js/common/controller/navbarController.js"></script>
    <script src="js/common/factories/dataService.js"></script>
    <script src ="js/RevenueAllBrands/Controller/resultsController.js"></script>
    <script src="js/common/states/state.js"></script>
    <script src="js/home/formController.js"></script> 
    <script src="js/home/formDirective.js"></script>
    <script src="js/common/factories/homeFactory.js"></script>
    <script src="js/common/factories/loaderFactory.js"></script>
    <script src="js/home/datePicker.js"></script> 
    <script src ="js/styleInfo/brandController.js"></script>
    <script src ="js/SKUinfo/skuController.js"></script>

</head>
<body ng-app="NamshiBuyingApp">
    <loader></loader>
     <div ui-view></div>
</body>
</html>
