
.coolForm .form-group {
	margin-bottom: 10px;
}
.coolForm .form-group .form-control{
	display: block;
	width: 100%;
}
.coolForm .btn{
	margin: 15px 0 0;
}
.well{
	overflow: hidden;
}

body{
	padding-top: 80px;
}