
<!-- <div class="container">

  <div class="navbar">
   		<div class="navbar-inner">
          <ul class="nav navbar-nav">
              <li><a href="">
                  <img src="https://b.namshicdn.com/ops/images/namshi-logo.gif">
              </a></li>
              <li class="active"><a href="/results">Sales Summary</a></li>
              <li class="active"><a ui-sref="user_profile">{{name}}'s personal settings</a></li>
          </ul>
      </div>
  </div>
</div> -->
            <!-- /.navbar -->
<!--   <div id="div_02" class="alert alert-success">
      <h3>
          ICANHAZSALESDATA!</h3>
      <p>
          If you're looking for shipout queues then you should look at the <a href="https://outbound.namshi.net/visual_backlog" target='blank_'>
              ops visual backlog tool.</a></p>
  </div> -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="collapsed = false" ng-click="collapsed = !collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="https://b.namshicdn.com/ops/images/namshi-logo.gif" height="20">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse collapse" ng-class="{in: collapsed}">
      <form class="navbar-form navbar-left col-lg-2 col-md-1 col-sm-12" ng-if="isClicked()" role="search">
        <div class="form-group" id ="navBar">
          <input type="text" class="form-control col-lg-2 col-md-6 col-sm-12" ng-model="formSelected.from",  data-output="formSelected.from", jqdatepicker placeholder="{{formSelected.from}}"/>
           <input type="text" class="form-control col-lg-2 col-md-6 col-sm-12" ng-model="formSelected.to",  data-output="formSelected.to", jqdatepicker placeholder="{{formSelected.to}}"/>
 
                  <select ng-model="formSelected.department" type="text" class="form-control", placeholder="{{formSelected.department}}" ng-change="toggleView()">
                  <option>All Departments</option>
                  <option>Accessories</option>
                    <option>Bags</option>
                    <option>Clothing</option>
                    <option>Shoes</option>
                  </select>
                    <select ng-if="isBags" ng-model="formSelected.category" class="form-control" type="text", placeholder="{{formSelected.category}}">
                          <option value="" disabled selected>{{formSelected.category}}</option>
                          <option ng-repeat="bag in bags" value="{{bag}}">{{bag}}</option>                  
                    </select>
            
            
                    <select ng-if="isClothing" ng-model="formSelected.category" class="form-control" type="text" , placeholder="{{formSelected.category}}">
                          <option value="" disabled selected>{{formSelected.category}}</option>
                          <option ng-repeat="cloth in clothing" value="{{cloth}}">{{cloth}}</option>                  
                    </select>
            
            
                    <select ng-if="isAccesory" ng-model="formSelected.category" class="form-control" type="text" , placeholder="{{formSelected.category}}">
                          <option value="" disabled selected>{{formSelected.category}}</option>
                          <option ng-repeat="Accesory in accessories"  value="{{Accesory}}">{{Accesory}}</option>                  
                    </select>
            
            
                    <select ng-if="isShoes" ng-model="formSelected.category" class="form-control" type="text" , placeholder="{{formSelected.category}}">
                          <option value="" disabled selected>{{formSelected.category}}</option>
                          <option ng-repeat="shoe in shoes" value="{{shoe}}">{{shoe}}</option>                  
                    </select>
            
                    <select ng-model="formSelected.gender" type="text" class="form-control" , placeholder="{{formSelected.gender}}">
                        <option value="" disabled selected>{{formSelected.gender}}</option>
                        <option>All Genders</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Boy</option>
                        <option>Girl</option>

                    </select>
            
           <div class="cta-group">
              <button type="button" class="btn btn-md btn-primary" ng-click='ExecuteThis()'>Submit</button>  
             <email style="display:inline-block; vertical-align:top;"></email>
           </div>
           
        </div>
          
<!--         <button type="submit" class="btn btn-default"></button>
 -->      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>