<navbar></navbar>
<div class="container">
		<div class="row">
				<button type="button" class="btn btn-md btn-primary fixedBtn" ng-click='ExportToExcel()'><i class="glyphicon glyphicon-save"></i>  Export Excel</button>
		   	<ul>
		   		<div ng-repeat="Stock in brandInfo" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">	   		
						<div class="card">
						  <img class="card-img-top base64" id="img" ng-src="http://imr.namshi.com/product/{{Stock.SKU}}?angle=1&view=catalog" alt="Card image cap">
						  <div class="card-block">
						    <h4 class="card-title" style="cursor: pointer"><a ui-sref="stock_left({sku:Stock.SKU, name:Stock.Name})">{{Stock.Name}}</a></h4>
						  </div>
						   <ul class="list-group-flush">
						    <span class="badge label-default">Revenue: {{Stock.Revenue | number: 0 }}</span>
								<span class="badge label-warning">Units Sold: {{Stock.UnitsSold}}</span>
								<span class="badge label-default">{{Stock.SKU}}</span>								
						  </ul>
						</div>
					</div>
		   	</ul> 
		</div>
</div>




